[Unit]
Description=nifi-tls-toolkit
After=network.target

[Service]
WorkingDirectory=/opt/nifi-ca-certificates
ExecStart=/opt/nifi-toolkit/bin/tls-toolkit.sh server -a RSA -c {{ ansible_hostname }} -d 3650 -D "CN={{ ansible_hostname }},OU=nifi" -f /opt/nifi-ca-certificates/tls.json -F /opt/nifi-ca-certificates/tls.json -k 2048 -p 8443 -s SHA256WITHRSA -T jks -t {{ keystore_password }}
Type=simple
Restart=on-failure   
RestartSec=5

[Install]
WantedBy=multiuser.target
