[Unit]
Description=nifi service to manage join requests to cluster from new nodes
After=network.target

[Service]
ExecStart=/usr/local/bin/ansible-playbook /opt/nifi-cluster/nifi-join.yml
Type=simple
Restart=on-failure   
RestartSec=5

[Install]
WantedBy=multi-user.target
