[Unit]
Description=nifi service to manage join requests to cluster from new nodes
After=network.target

[Service]
User=nifi
ExecStart=/usr/local/bin/ansible-playbook /opt/nifi-cluster/nifi-join.yml
Type=simple
Restart=no

[Install]
WantedBy=multi-user.target
